* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(227, 222, 222);
}

h1 {
    display: inline;
}
header {
    background-color: aqua;
    padding: 10px;
    margin: 0px
}

header nav{

    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
}


header nav ul,
footer nav ul  {
    list-style-type: none;
}

header nav ul li,
footer nav ul  {
    display: inline-block;
     margin-left: 25px;
}

/*figure {
    height: 100px;
    width: 25%;
    margin-bottom: 25px;
    background-image: url("../images/profile.JPG") ;
    background-size: cover;
    background-position: center;  
    align-content: center; 
    float: right;     
}*/
.about-me {
    font-size: 5vh;
}


.content {
    justify-content: center;

    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 100%;
    display: inline;
    padding: 0;
    margin: 0;
    text-align: justify;
}



.work h2{
    float: left;
    margin-right: 15px;
    display: inline;
}


p, h2 {
    display: inline-block;
}


/*.vl {
    border-left: 10px gray;
    height: fit-content;
    padding: 25px;
    margin-bottom: 100px;
    
}*/


.background-image {
    position: relative;
    text-align: center;
    color: #ffffff;
    align-items: center;
    border: blue;
    border-radius: 10px;
}

.featured-card {
    position: absolute;
    bottom: 21px;
    left: 16px;
    right: 0px;
}





 
footer {
    padding: 30px;
    clear: both;
    text-align: center;
} 

.footer-bar {
    word-spacing: 40px;
}
footer nav{
    padding-top: 15px;
    float:none;
    font-size: 20px;
    
}
footer nav ul {
    list-style-type: none ;
}

footer nav ul li {
    display: inline-block;
    
}

footer nav a {
    color: black;
}